.login {
  background-color: #41f02a;
  border-radius: 100px;
  border-width: 0px;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: 50px;
  min-width: 250px;
  outline: none;
}

.login:hover {
  background-color: #41f02a;
}
